html, body {
	margin: 0;
	padding: 0;
}

.head {
	background-color: #DCD0EA;
}

.head-content {
	padding: 16px;
}

.head-text {
	font-family: sans-serif;
	color: white;
	font-size: 30px;
	text-align: center; 
	padding: 20px;
}

/* div {
    display: block;
    background-color: #D7BDE2;
} */
